datafactory/pipeline/Pipe_Generic_ODBC_To_Lake.json
{
	"name": "Pipe_Generic_ODBC_To_Lake",
	"properties": {
		"activities": [
			{
				"name": "LKP - Get ODBC schema mapping",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[DI].[usp_SchemaMapping_Get]",
						"storedProcedureParameters": {
							"TaskID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.TaskID",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "Generic_AzureSQL",
						"type": "DatasetReference",
						"parameters": {
							"secretName": "sqlDatabaseConnectionStringConfig"
						}
					}
				}
			},
			{
				"name": "CD - Write the ODBC Data to the lake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LKP - Get ODBC schema mapping",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LKP - Get the ODBC SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "FN - Get ODBC User Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": {
							"value": "@concat(activity('LKP - Get the ODBC SQL').output.firstRow.Result\n\t,coalesce(pipeline().parameters.WhereClause, ''))",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"value": "@json(activity('LKP - Get ODBC schema mapping').output.firstRow.output)",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "Generic_ODBC",
						"type": "DatasetReference",
						"parameters": {
							"odbcConnectionStringSecret": {
								"value": "@{pipeline().parameters.KeyVaultSecretConnectionString}",
								"type": "Expression"
							},
							"odbcUserName": {
								"value": "@activity('FN - Get ODBC User Name').output.Response",
								"type": "Expression"
							},
							"odbcPasswordSecret": {
								"value": "@{pipeline().parameters.KeyVaultSecretPassword}",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Generic_DatalakeGen2_Parquet_AzureIR",
						"type": "DatasetReference",
						"parameters": {
							"dataLakeServiceEndPoint": {
								"value": "@pipeline().parameters.DataLakeServiceEndPoint",
								"type": "Expression"
							},
							"dataLakeFilePath": {
								"value": "@pipeline().parameters.DataLakeFilePath",
								"type": "Expression"
							},
							"dataLakeFileName": {
								"value": "@pipeline().parameters.DataLakeFileName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "LKP - Get the ODBC SQL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[DI].[usp_ODBCSQL_Get]",
						"storedProcedureParameters": {
							"TaskInstanceID": {
								"type": "Int64",
								"value": {
									"value": "@pipeline().parameters.TaskInstanceID",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "Generic_AzureSQL",
						"type": "DatasetReference",
						"parameters": {
							"secretName": "sqlDatabaseConnectionStringConfig"
						}
					}
				}
			},
			{
				"name": "FN - Get ODBC User Name",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "GetKeyVaultSecret",
					"method": "POST",
					"body": {
						"keyvaultName": "@pipeline().parameters.KeyVaultName",
						"secretName": "@pipeline().parameters.KeyVaultSecretUserName"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureFunction",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP - Log the error - Write to lake - Azure SQL to SQL",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CD - Write the ODBC Data to the lake",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[DI].[usp_DataFactoryLog_Insert]",
					"storedProcedureParameters": {
						"ActivityName": {
							"value": "CD - Write the data to the lake - Azure SQL to SQL",
							"type": "String"
						},
						"DataFactoryName": {
							"value": {
								"value": "@{pipeline().DataFactory}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@{activity('CD - Write the ODBC Data to the lake').Error.message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"OutputMessage": {
							"value": {
								"value": "@{activity('CD - Write the ODBC Data to the lake').output}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerID": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TaskInstanceID": {
							"value": {
								"value": "@pipeline().parameters.TaskInstanceID",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"LogType": {
							"value": "Error",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSQL",
					"type": "LinkedServiceReference",
					"parameters": {
						"secretName": "sqlDatabaseConnectionStringConfig"
					}
				}
			},
			{
				"name": "SP - Log the error - Get ODBC User Name",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "FN - Get ODBC User Name",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[DI].[usp_DataFactoryLog_Insert]",
					"storedProcedureParameters": {
						"ActivityName": {
							"value": "FN - Get ODBC User Name",
							"type": "String"
						},
						"DataFactoryName": {
							"value": {
								"value": "@{pipeline().DataFactory}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@{activity('FN - Get ODBC User Name').Error.message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"OutputMessage": {
							"value": {
								"value": "@{activity('FN - Get ODBC User Name').output}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerID": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TaskInstanceID": {
							"value": {
								"value": "@pipeline().parameters.TaskInstanceID",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"LogType": {
							"value": "Error",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSQL",
					"type": "LinkedServiceReference",
					"parameters": {
						"secretName": "sqlDatabaseConnectionStringConfig"
					}
				}
			},
			{
				"name": "SP - Log the error - Get the ODBC SQL",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LKP - Get the ODBC SQL",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[DI].[usp_DataFactoryLog_Insert]",
					"storedProcedureParameters": {
						"ActivityName": {
							"value": "LKP - Get the ODBC SQL",
							"type": "String"
						},
						"DataFactoryName": {
							"value": {
								"value": "@{pipeline().DataFactory}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@{activity('LKP - Get the ODBC SQL').Error.message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"OutputMessage": {
							"value": {
								"value": "@{activity('LKP - Get the ODBC SQL').output}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerID": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TaskInstanceID": {
							"value": {
								"value": "@pipeline().parameters.TaskInstanceID",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"LogType": {
							"value": "Error",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSQL",
					"type": "LinkedServiceReference",
					"parameters": {
						"secretName": "sqlDatabaseConnectionStringConfig"
					}
				}
			},
			{
				"name": "SP - Log the error - Get ODBC schema mapping",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LKP - Get ODBC schema mapping",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[DI].[usp_DataFactoryLog_Insert]",
					"storedProcedureParameters": {
						"ActivityName": {
							"value": "LKP - Get ODBC schema mapping",
							"type": "String"
						},
						"DataFactoryName": {
							"value": {
								"value": "@{pipeline().DataFactory}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@{activity('LKP - Get ODBC schema mapping').Error.message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"OutputMessage": {
							"value": {
								"value": "@{activity('LKP - Get ODBC schema mapping').output}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerID": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TaskInstanceID": {
							"value": {
								"value": "@pipeline().parameters.TaskInstanceID",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"LogType": {
							"value": "Error",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSQL",
					"type": "LinkedServiceReference",
					"parameters": {
						"secretName": "sqlDatabaseConnectionStringConfig"
					}
				}
			}
		],
		"parameters": {
			"TaskID": {
				"type": "string"
			},
			"DataLakeServiceEndPoint": {
				"type": "string"
			},
			"DataLakeFilePath": {
				"type": "string"
			},
			"DataLakeFileName": {
				"type": "string"
			},
			"SchemaMapping": {
				"type": "string"
			},
			"KeyVaultName": {
				"type": "string"
			},
			"IncrementValue": {
				"type": "string"
			},
			"TaskInstanceID": {
				"type": "string"
			},
			"KeyVaultSecretUserName": {
				"type": "string"
			},
			"KeyVaultSecretPassword": {
				"type": "string"
			},
			"KeyVaultSecretConnectionString": {
				"type": "string"
			},
			"WhereClause": {
				"type": "string"
			}
		},
		"folder": {
			"name": "ETL/ODBC Load/Generic ODBC to lake"
		},
		"annotations": []
	}
}