datafactory/pipeline/Pipe_Generic_REST_To_Target_Lake.json
{
  "name": "Pipe_Generic_REST_To_Target_Lake",
  "properties": {
    "activities": [
      {
        "name": "GM - Check if target path exists in lake",
        "type": "GetMetadata",
        "dependsOn": [
          {
            "activity": "LKP - Get the file schema mapping",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "dataset": {
            "referenceName": "Generic_DatalakeGen2_Folder",
            "type": "DatasetReference",
            "parameters": {
              "dataLakeServiceEndPoint": {
                "value": "@pipeline().parameters.TargetConfig.value[0].ServiceEndpoint",
                "type": "Expression"
              },
              "dataLakeFilePath": {
                "value": "@pipeline().parameters.TargetConfig.value[0].TargetFilePath",
                "type": "Expression"
              }
            }
          },
          "fieldList": ["exists"],
          "storeSettings": {
            "type": "AzureBlobFSReadSettings",
            "recursive": true
          }
        }
      },
      {
        "name": "IF - Check if data lake path exists",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "GM - Check if target path exists in lake",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(activity('GM - Check if target path exists in lake').output.Exists, true)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "DEL - Clean out target data lake folder",
              "type": "Delete",
              "dependsOn": [
                {
                  "activity": "FN - Remove blob lease",
                  "dependencyConditions": ["Succeeded"]
                }
              ],
              "policy": {
                "timeout": "7.00:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "dataset": {
                  "referenceName": "Generic_DatalakeGen2_Folder",
                  "type": "DatasetReference",
                  "parameters": {
                    "dataLakeServiceEndPoint": {
                      "value": "@pipeline().parameters.TargetConfig.value[0].ServiceEndpoint",
                      "type": "Expression"
                    },
                    "dataLakeFilePath": {
                      "value": "@pipeline().parameters.TargetConfig.value[0].TargetFilePath",
                      "type": "Expression"
                    }
                  }
                },
                "enableLogging": false,
                "storeSettings": {
                  "type": "AzureBlobFSReadSettings",
                  "recursive": false
                }
              }
            },
            {
              "name": "SP - Log the error - Clean out lake path",
              "type": "SqlServerStoredProcedure",
              "dependsOn": [
                {
                  "activity": "DEL - Clean out target data lake folder",
                  "dependencyConditions": ["Failed"]
                }
              ],
              "policy": {
                "timeout": "7.00:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "storedProcedureName": "[DI].[usp_DataFactoryLog_Insert]",
                "storedProcedureParameters": {
                  "ActivityName": {
                    "value": "DEL - Clean out target data lake folder",
                    "type": "String"
                  },
                  "DataFactoryName": {
                    "value": {
                      "value": "@{pipeline().DataFactory}",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "ErrorMessage": {
                    "value": {
                      "value": "@{activity('DEL - Clean out target data lake folder').error.message}",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "OutputMessage": {
                    "value": {
                      "value": "@{activity('DEL - Clean out target data lake folder').output}",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "PipelineName": {
                    "value": {
                      "value": "@{pipeline().Pipeline}",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "PipelineRunID": {
                    "value": {
                      "value": "@{pipeline().RunId}",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "PipelineTriggerID": {
                    "value": {
                      "value": "@{pipeline().TriggerId}",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "PipelineTriggerName": {
                    "value": {
                      "value": "@{pipeline().TriggerName}",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "PipelineTriggerTime": {
                    "value": {
                      "value": "@{pipeline().TriggerTime}",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "PipelineTriggerType": {
                    "value": {
                      "value": "@{pipeline().TriggerType}",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "TaskInstanceID": {
                    "value": {
                      "value": "@pipeline().parameters.TaskInstanceID",
                      "type": "Expression"
                    },
                    "type": "Int64"
                  },
                  "LogType": {
                    "value": "Error",
                    "type": "String"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "AzureSQL",
                "type": "LinkedServiceReference",
                "parameters": {
                  "secretName": "sqlDatabaseConnectionStringConfig"
                }
              }
            },
            {
              "name": "FN - Remove blob lease",
              "type": "AzureFunctionActivity",
              "dependsOn": [],
              "policy": {
                "timeout": "7.00:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "functionName": "BreakBlobLease",
                "method": "POST",
                "body": {
                  "serviceEndpoint": "@pipeline().parameters.TargetConfig.value[0].ServiceEndpoint",
                  "filePath": "@pipeline().parameters.TargetConfig.value[0].TargetFilePath",
                  "fileName": "@pipeline().parameters.TargetConfig.value[0].TargetFileName"
                }
              },
              "linkedServiceName": {
                "referenceName": "AzureFunction",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "SP - Log the error - Remove blob lease",
              "type": "SqlServerStoredProcedure",
              "dependsOn": [
                {
                  "activity": "FN - Remove blob lease",
                  "dependencyConditions": ["Failed"]
                }
              ],
              "policy": {
                "timeout": "7.00:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "storedProcedureName": "[DI].[usp_DataFactoryLog_Insert]",
                "storedProcedureParameters": {
                  "ActivityName": {
                    "value": "FN - Remove blob lease",
                    "type": "String"
                  },
                  "DataFactoryName": {
                    "value": {
                      "value": "@{pipeline().DataFactory}",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "ErrorMessage": {
                    "value": {
                      "value": "@{activity('FN - Remove blob lease').error.message}",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "OutputMessage": {
                    "value": {
                      "value": "@{activity('FN - Remove blob lease').output}",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "PipelineName": {
                    "value": {
                      "value": "@{pipeline().Pipeline}",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "PipelineRunID": {
                    "value": {
                      "value": "@{pipeline().RunId}",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "PipelineTriggerID": {
                    "value": {
                      "value": "@{pipeline().TriggerId}",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "PipelineTriggerName": {
                    "value": {
                      "value": "@{pipeline().TriggerName}",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "PipelineTriggerTime": {
                    "value": {
                      "value": "@{pipeline().TriggerTime}",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "PipelineTriggerType": {
                    "value": {
                      "value": "@{pipeline().TriggerType}",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "TaskInstanceID": {
                    "value": {
                      "value": "@pipeline().parameters.TaskInstanceID",
                      "type": "Expression"
                    },
                    "type": "Int64"
                  },
                  "LogType": {
                    "value": "Error",
                    "type": "String"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "AzureSQL",
                "type": "LinkedServiceReference",
                "parameters": {
                  "secretName": "sqlDatabaseConnectionStringConfig"
                }
              }
            }
          ]
        }
      },
      {
        "name": "SP - Log the error - Check lake path",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [
          {
            "activity": "GM - Check if target path exists in lake",
            "dependencyConditions": ["Failed"]
          }
        ],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "storedProcedureName": "[DI].[usp_DataFactoryLog_Insert]",
          "storedProcedureParameters": {
            "ActivityName": {
              "value": "GM - Check if target path exists in lake",
              "type": "String"
            },
            "DataFactoryName": {
              "value": {
                "value": "@{pipeline().DataFactory}",
                "type": "Expression"
              },
              "type": "String"
            },
            "ErrorMessage": {
              "value": {
                "value": "@{activity('GM - Check if target path exists in lake').error.message}",
                "type": "Expression"
              },
              "type": "String"
            },
            "OutputMessage": {
              "value": {
                "value": "@{activity('GM - Check if target path exists in lake').output}",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineName": {
              "value": {
                "value": "@{pipeline().Pipeline}",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineRunID": {
              "value": {
                "value": "@{pipeline().RunId}",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineTriggerID": {
              "value": {
                "value": "@{pipeline().TriggerId}",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineTriggerName": {
              "value": {
                "value": "@{pipeline().TriggerName}",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineTriggerTime": {
              "value": {
                "value": "@{pipeline().TriggerTime}",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineTriggerType": {
              "value": {
                "value": "@{pipeline().TriggerType}",
                "type": "Expression"
              },
              "type": "String"
            },
            "TaskInstanceID": {
              "value": {
                "value": "@pipeline().parameters.TaskInstanceID",
                "type": "Expression"
              },
              "type": "Int64"
            },
            "LogType": {
              "value": "Error",
              "type": "String"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "AzureSQL",
          "type": "LinkedServiceReference",
          "parameters": {
            "secretName": "sqlDatabaseConnectionStringConfig"
          }
        }
      },
      {
        "name": "LKP - Get the file schema mapping",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderStoredProcedureName": "[DI].[usp_SchemaMapping_Get]",
            "storedProcedureParameters": {
              "TaskID": {
                "type": "Int32",
                "value": {
                  "value": "@pipeline().parameters.TaskID",
                  "type": "Expression"
                }
              }
            },
            "partitionOption": "None"
          },
          "dataset": {
            "referenceName": "Generic_AzureSQL",
            "type": "DatasetReference",
            "parameters": {
              "secretName": "sqlDatabaseConnectionStringConfig"
            }
          }
        }
      },
      {
        "name": "SP - Log the error - Get file schema mapping",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [
          {
            "activity": "LKP - Get the file schema mapping",
            "dependencyConditions": ["Failed"]
          }
        ],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "storedProcedureName": "[DI].[usp_DataFactoryLog_Insert]",
          "storedProcedureParameters": {
            "ActivityName": {
              "value": "LKP - Get the schema and table definitions",
              "type": "String"
            },
            "DataFactoryName": {
              "value": {
                "value": "@{pipeline().DataFactory}",
                "type": "Expression"
              },
              "type": "String"
            },
            "ErrorMessage": {
              "value": {
                "value": "@{activity('LKP - Get the file schema mapping').error.message}",
                "type": "Expression"
              },
              "type": "String"
            },
            "OutputMessage": {
              "value": {
                "value": "@{activity('LKP - Get the file schema mapping').output}",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineName": {
              "value": {
                "value": "@{pipeline().Pipeline}",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineRunID": {
              "value": {
                "value": "@{pipeline().RunId}",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineTriggerID": {
              "value": {
                "value": "@{pipeline().TriggerId}",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineTriggerName": {
              "value": {
                "value": "@{pipeline().TriggerName}",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineTriggerTime": {
              "value": {
                "value": "@{pipeline().TriggerTime}",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineTriggerType": {
              "value": {
                "value": "@{pipeline().TriggerType}",
                "type": "Expression"
              },
              "type": "String"
            },
            "TaskInstanceID": {
              "value": {
                "value": "@pipeline().parameters.TaskInstanceID",
                "type": "Expression"
              },
              "type": "Int64"
            },
            "LogType": {
              "value": "Error",
              "type": "String"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "AzureSQL",
          "type": "LinkedServiceReference",
          "parameters": {
            "secretName": "sqlDatabaseConnectionStringConfig"
          }
        }
      },
      {
        "name": "EP - Generic REST To Lake",
        "type": "ExecutePipeline",
        "dependsOn": [
          {
            "activity": "IF - Check if data lake path exists",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "pipeline": {
            "referenceName": "Pipe_Generic_REST_To_Lake",
            "type": "PipelineReference"
          },
          "waitOnCompletion": true,
          "parameters": {
            "TaskType": {
              "value": "@pipeline().parameters.TaskType",
              "type": "Expression"
            },
            "SourceConfig": {
              "value": "@pipeline().parameters.SourceConfig",
              "type": "Expression"
            },
            "TaskInstanceID": {
              "value": "@pipeline().parameters.TaskInstanceID",
              "type": "Expression"
            },
            "TargetConfig": {
              "value": "@pipeline().parameters.TargetConfig",
              "type": "Expression"
            },
            "SchemaMapping": {
              "value": "@json(activity('LKP - Get the file schema mapping').output.firstRow.output)",
              "type": "Expression"
            },
            "KeyVaultName": {
              "value": "@pipeline().parameters.KeyVaultName",
              "type": "Expression"
            },
            "TaskConfig": {
              "value": "@pipeline().parameters.TaskConfig",
              "type": "Expression"
            },
            "CallingPipeline": {
              "value": "@pipeline().Pipeline",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "If - Delta Lake",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "CD - Write the schema file to the lake",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(pipeline().parameters.TargetConfig.value[0].UseDeltaLakeIndicator, 'Y')",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "EP - Parquet to Delta Lake Load",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "Pipe_Generic_Databricks_Parquet_Load_Delta_Lake",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "PreviousTargetFilePath": {
                    "value": "@pipeline().parameters.TargetConfig.value[0].PreviousTargetFilePath",
                    "type": "Expression"
                  },
                  "TargetFilePath": {
                    "value": "@pipeline().parameters.TargetConfig.value[0].TargetFilePath",
                    "type": "Expression"
                  },
                  "TargetTempTable": {
                    "value": "@pipeline().parameters.TargetConfig.value[0].TargetTempTable",
                    "type": "Expression"
                  },
                  "LoadType": {
                    "value": "@if(greater(length(pipeline().parameters.TargetConfig.value[0].LoadType), 0), pipeline().parameters.TargetConfig.value[0].LoadType, 'Full')",
                    "type": "Expression"
                  },
                  "TargetDatabase": {
                    "value": "@pipeline().parameters.TargetConfig.value[0].TargetDatabase",
                    "type": "Expression"
                  },
                  "UniqueConstraintIndicator": {
                    "value": "@activity('LKP - Get the schema and table definitions').output.firstRow.UniqueConstraintIndicator",
                    "type": "Expression"
                  },
                  "TaskType": {
                    "value": "@pipeline().parameters.TaskType",
                    "type": "Expression"
                  },
                  "TargetTable": {
                    "value": "@pipeline().parameters.TargetConfig.value[0].TargetTable",
                    "type": "Expression"
                  },
                  "TargetDeltaFilePath": {
                    "value": "@pipeline().parameters.TargetConfig.value[0].TargetDeltaFilePath",
                    "type": "Expression"
                  },
                  "UniqueConstraintColumns": {
                    "value": "@activity('LKP - Get the schema and table definitions').output.firstRow.UniqueConstraintColumns",
                    "type": "Expression"
                  },
                  "UseDeltaLakeIndicator": {
                    "value": "@pipeline().parameters.TargetConfig.value[0].UseDeltaLakeIndicator",
                    "type": "Expression"
                  },
                  "DeltaLakeRetentionDays": {
                    "value": "@pipeline().parameters.TargetConfig.value[0].DeltaLakeRetentionDays",
                    "type": "Expression"
                  },
                  "AllowSchemaDrift": {
                    "value": "@pipeline().parameters.TargetConfig.value[0].AllowSchemaDrift",
                    "type": "Expression"
                  },
                  "PipelineName": {
                    "value": "@pipeline().Pipeline",
                    "type": "Expression"
                  },
                  "PipelineRunID": {
                    "value": "@pipeline().RunId",
                    "type": "Expression"
                  },
                  "PipelineTriggerID": {
                    "value": "@pipeline().TriggerId",
                    "type": "Expression"
                  },
                  "PipelineTriggerName": {
                    "value": "@pipeline().TriggerName",
                    "type": "Expression"
                  },
                  "PipelineTriggerTime": {
                    "value": "@pipeline().TriggerTime",
                    "type": "Expression"
                  },
                  "PipelineTriggerType": {
                    "value": "@pipeline().TriggerType",
                    "type": "Expression"
                  },
                  "TaskInstanceID": {
                    "value": "@pipeline().parameters.TaskInstanceID",
                    "type": "Expression"
                  },
                  "DatabricksURL": {
                    "value": "@pipeline().parameters.ETLConfig.value[0].DatabricksURL",
                    "type": "Expression"
                  },
                  "DatabricksClusterID": {
                    "value": "@pipeline().parameters.ETLConfig.value[0].DatabricksClusterID",
                    "type": "Expression"
                  },
                  "FileLoadConfig": {
                    "value": "@json('{\"value\":\"\"}')",
                    "type": "Expression"
                  },
                  "FileLoadType": {
                    "value": "@string('')",
                    "type": "Expression"
                  },
                  "SourceConfig": {
                    "value": "@pipeline().parameters.SourceConfig",
                    "type": "Expression"
                  },
                  "TaskConfig": {
                    "value": "@{pipeline().parameters.TaskConfig.value}",
                    "type": "Expression"
                  },
                  "WhereClause": {
                    "value": "@string('')",
                    "type": "Expression"
                  },
                  "TaskSchema": {
                    "value": "@{activity('LKP - Get the schema and table definitions').output.firstRow.SchemaJson}",
                    "type": "Expression"
                  }
                }
              }
            }
          ]
        }
      },
      {
        "name": "CD - Write the schema file to the lake",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "LKP - Get the schema and table definitions",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderStoredProcedureName": "[DI].[usp_StagingTableScript_Generate]",
            "storedProcedureParameters": {
              "SchemaOnly": {
                "type": "Boolean",
                "value": "True"
              },
              "TaskID": {
                "type": "Int32",
                "value": {
                  "value": "@pipeline().parameters.TaskID",
                  "type": "Expression"
                }
              }
            },
            "partitionOption": "None"
          },
          "sink": {
            "type": "DelimitedTextSink",
            "storeSettings": {
              "type": "AzureBlobFSWriteSettings"
            },
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".json"
            }
          },
          "enableStaging": false
        },
        "inputs": [
          {
            "referenceName": "Generic_AzureSQL",
            "type": "DatasetReference",
            "parameters": {
              "secretName": "sqlDatabaseConnectionStringConfig"
            }
          }
        ],
        "outputs": [
          {
            "referenceName": "Generic_DatalakeGen2_Csv_NoHeader_AzureIR",
            "type": "DatasetReference",
            "parameters": {
              "dataLakeServiceEndPoint": {
                "value": "@pipeline().parameters.TargetConfig.value[0].ServiceEndpoint",
                "type": "Expression"
              },
              "dataLakeFilePath": {
                "value": "@replace(pipeline().parameters.TargetConfig.value[0].TargetFilePath, '/Raw/', '/Schema/')",
                "type": "Expression"
              },
              "dataLakeFileName": {
                "value": "@replace(pipeline().parameters.TargetConfig.value[0].TargetFileName, '.parquet', '.json')",
                "type": "Expression"
              }
            }
          }
        ]
      },
      {
        "name": "LKP - Get the schema and table definitions",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "EP - Generic REST To Lake",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderStoredProcedureName": "[DI].[usp_StagingTableScript_Generate]",
            "storedProcedureParameters": {
              "TaskID": {
                "type": "Int32",
                "value": {
                  "value": "@pipeline().parameters.TaskID",
                  "type": "Expression"
                }
              }
            },
            "partitionOption": "None"
          },
          "dataset": {
            "referenceName": "Generic_AzureSQL",
            "type": "DatasetReference",
            "parameters": {
              "secretName": "sqlDatabaseConnectionStringConfig"
            }
          }
        }
      },
      {
        "name": "SP - Log the error - Get Schema and Table definition",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [
          {
            "activity": "LKP - Get the schema and table definitions",
            "dependencyConditions": ["Failed"]
          }
        ],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "storedProcedureName": "[DI].[usp_DataFactoryLog_Insert]",
          "storedProcedureParameters": {
            "ActivityName": {
              "value": "LKP - Get the schema and table definitions",
              "type": "String"
            },
            "DataFactoryName": {
              "value": {
                "value": "@{pipeline().DataFactory}",
                "type": "Expression"
              },
              "type": "String"
            },
            "ErrorMessage": {
              "value": {
                "value": "@{activity('LKP - Get the schema and table definitions').Error.message}",
                "type": "Expression"
              },
              "type": "String"
            },
            "OutputMessage": {
              "value": {
                "value": "@{activity('LKP - Get the schema and table definitions').output}",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineName": {
              "value": {
                "value": "@{pipeline().Pipeline}",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineRunID": {
              "value": {
                "value": "@{pipeline().RunId}",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineTriggerID": {
              "value": {
                "value": "@{pipeline().TriggerId}",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineTriggerName": {
              "value": {
                "value": "@{pipeline().TriggerName}",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineTriggerTime": {
              "value": {
                "value": "@{pipeline().TriggerTime}",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineTriggerType": {
              "value": {
                "value": "@{pipeline().TriggerType}",
                "type": "Expression"
              },
              "type": "String"
            },
            "TaskInstanceID": {
              "value": {
                "value": "@pipeline().parameters.TaskInstanceID",
                "type": "Expression"
              },
              "type": "Int64"
            },
            "LogType": {
              "value": "Error",
              "type": "String"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "AzureSQL",
          "type": "LinkedServiceReference",
          "parameters": {
            "secretName": "sqlDatabaseConnectionStringConfig"
          }
        }
      }
    ],
    "parameters": {
      "TaskID": {
        "type": "int"
      },
      "TaskInstanceID": {
        "type": "int"
      },
      "TaskType": {
        "type": "string"
      },
      "TaskConfig": {
        "type": "object"
      },
      "SourceConfig": {
        "type": "object"
      },
      "TargetConfig": {
        "type": "object"
      },
      "ETLConfig": {
        "type": "object"
      },
      "KeyVaultName": {
        "type": "string"
      }
    },
    "folder": {
      "name": "ETL/REST Load"
    },
    "annotations": []
  },
  "type": "Microsoft.DataFactory/factories/pipelines"
}
