datafactory/pipeline/Pipe_Generic_Scale_Azure_SQL.json
{
	"name": "Pipe_Generic_Scale_Azure_SQL",
	"properties": {
		"description": "This pipeline will scale a list of Azure SQL databases to the requested tier and service objective",
		"activities": [
			{
				"name": "LKP - Get the generic config values",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[DI].[usp_GenericConfig_Get]"
					},
					"dataset": {
						"referenceName": "Generic_AzureSQL",
						"type": "DatasetReference",
						"parameters": {
							"secretName": "sqlDatabaseConnectionStringConfig"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "WH - Scale the Azure SQL databases",
				"type": "WebHook",
				"dependsOn": [
					{
						"activity": "LKP - Get the generic config values",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@activity('LKP - Get the generic config values').output.firstRow.LogicAppScaleAzureSQLURL",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"ResourceGroupName": "@pipeline().parameters.ResourceGroupName",
						"SQLServerName": "@pipeline().parameters.SQLServerName",
						"DatabaseList": "@pipeline().parameters.DatabaseList",
						"Edition": "@pipeline().parameters.Edition",
						"ServiceObjectiveName": "@pipeline().parameters.ServiceObjectiveName"
					},
					"timeout": "00:30:00"
				}
			}
		],
		"parameters": {
			"ResourceGroupName": {
				"type": "string"
			},
			"SQLServerName": {
				"type": "string"
			},
			"DatabaseList": {
				"type": "string"
			},
			"Edition": {
				"type": "string"
			},
			"ServiceObjectiveName": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Maintenance"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}