datafactory/pipeline/Pipe_Get_Oracle_Config.json
{
	"name": "Pipe_Get_Oracle_Config",
	"properties": {
		"description": "This pipeline gets all the database table and column metadata information from Oracle sources",
		"activities": [
			{
				"name": "LKP - Get list of sources to iterate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[DI].[usp_Connections_Get]",
						"storedProcedureParameters": {
							"ConnectionType": {
								"type": "String",
								"value": "Oracle"
							}
						}
					},
					"dataset": {
						"referenceName": "Generic_AzureSQL",
						"type": "DatasetReference",
						"parameters": {
							"secretName": "sqlDatabaseConnectionStringConfig"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FEL - Loop through Oracle data sources",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP - Get list of sources to iterate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP - Get list of sources to iterate').output.value",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "CD - Copy Oracle constraint metadata",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "--Get all the tables and views\n\nSELECT \n\t@{item().ConnectionID} AS \"ConnectionID\",\n\tcons.owner AS \"Schema\",\n\tcols.table_name AS \"TableName\", \n    cols.column_name AS \"ColumnName\", \n\tcols.position AS \"ConstraintPosition\",  \n\tcons.constraint_type AS \"ConstraintType\",\n\tcons.constraint_name AS \"ConstraintName\"\nFROM \n\tall_constraints cons INNER JOIN \n\tall_cons_columns cols ON cons.constraint_name = cols.constraint_name\n\t\tAND cons.owner = cols.owner INNER JOIN\n\tall_tables tabs ON cons.table_name = tabs.table_name\n\t\tAND cons.owner = tabs.owner\nWHERE \n\tcons.owner NOT IN('SYS', 'SYSTEM')\n\tAND cons.constraint_type IN('P', 'U')\n\tAND tabs.num_rows > 0 \n\tAND tabs.temporary = 'N'",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "DELETE FROM SRC.DatabaseTableConstraint WHERE ConnectionID = @{item().ConnectionID}",
										"type": "Expression"
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Generic_Oracle",
									"type": "DatasetReference",
									"parameters": {
										"secretName": {
											"value": "@{item().secretName}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Generic_AzureSQL_Table_AzureIR",
									"type": "DatasetReference",
									"parameters": {
										"secretName": "sqlDatabaseConnectionStringConfig",
										"tableName": "DatabaseTableConstraint",
										"tableSchema": "SRC"
									}
								}
							]
						},
						{
							"name": "CD - Copy Oracle table column metadata",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "--Get all the tables and views\n\nSELECT\n    @{item().ConnectionID} AS \"ConnectionID\",\n\ttabcols.owner AS \"Schema\",\n    tabcols.table_name AS \"TableName\",\n    tabcols.column_id AS \"ColumnID\",\n    tabcols.column_name AS \"ColumnName\",\n    tabcols.data_type AS \"DataType\",\n    tabcols.data_length as \"DataLength\",\n    tabcols.data_precision AS \"DataPrecision\",\n    tabcols.data_scale AS \"DataScale\",\n    tabcols.nullable AS \"Nullable\",\n\tCI.\"ComputedIndicator\"\nFROM\n    all_tab_columns tabcols\n    INNER JOIN\n    (\n    SELECT\n        owner,\n        table_name,\n        column_id,\n        MAX(CASE WHEN virtual_column = 'YES' THEN 'Y' ELSE 'N' END) AS \"ComputedIndicator\"\n    FROM\n        all_tab_cols\n    GROUP BY\n        owner,\n        table_name,\n        column_id\n    ) CI ON tabcols.owner = CI.owner\n        AND tabcols.table_name = CI.table_name\n        AND tabcols.column_id = CI.column_id\nWHERE\n    tabcols.owner NOT IN('SYS', 'SYSTEM')\n    \nUNION ALL\n\n--Get all the synonyms\n\nSELECT\n    @{item().ConnectionID} AS \"ConnectionID\",\n\tsyn.owner AS \"Schema\",\n    syn.synonym_name AS \"TableName\",\n    tabcols.column_id AS \"ColumnID\",\n    tabcols.column_name AS \"ColumnName\",\n    tabcols.data_type AS \"DataType\",\n    tabcols.data_length as \"DataLength\",\n    tabcols.data_precision AS \"DataPrecision\",\n    tabcols.data_scale AS \"DataScale\",\n    tabcols.nullable AS \"Nullable\",\n\tCI.\"ComputedIndicator\"\nFROM\n    all_tab_columns tabcols\n    INNER JOIN all_synonyms syn ON tabcols.owner = syn.table_owner\n        AND tabcols.table_name = syn.table_name\n\tINNER JOIN\n    (\n    SELECT\n        owner,\n        table_name,\n        column_id,\n        MAX(CASE WHEN virtual_column = 'YES' THEN 'Y' ELSE 'N' END) AS \"ComputedIndicator\"\n    FROM\n        all_tab_cols\n    GROUP BY\n        owner,\n        table_name,\n        column_id\n    ) CI ON tabcols.owner = CI.owner\n        AND tabcols.table_name = CI.table_name\n        AND tabcols.column_id = CI.column_id\nWHERE\n    tabcols.owner NOT IN('SYS', 'SYSTEM')\n\tAND tabcols.column_id IS NOT NULL",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "DELETE FROM SRC.DatabaseTableColumn WHERE ConnectionID = @{item().ConnectionID}",
										"type": "Expression"
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Generic_Oracle",
									"type": "DatasetReference",
									"parameters": {
										"secretName": {
											"value": "@{item().secretName}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Generic_AzureSQL_Table_AzureIR",
									"type": "DatasetReference",
									"parameters": {
										"secretName": "sqlDatabaseConnectionStringConfig",
										"tableName": "DatabaseTableColumn",
										"tableSchema": "SRC"
									}
								}
							]
						},
						{
							"name": "SP - Log ADF Error - Oracle Constraints",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CD - Copy Oracle constraint metadata",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[DI].[usp_DataFactoryLog_Insert]",
								"storedProcedureParameters": {
									"ActivityName": {
										"value": "CD - Copy Oracle constraint metadata",
										"type": "String"
									},
									"DataFactoryName": {
										"value": {
											"value": "@{pipeline().DataFactory}",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorMessage": {
										"value": {
											"value": "@{activity('CD - Copy Oracle constraint metadata').error.message}",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputMessage": {
										"value": {
											"value": "@{activity('CD - Copy Oracle constraint metadata').output}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@{pipeline().RunId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerID": {
										"value": {
											"value": "@{pipeline().TriggerId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@{pipeline().TriggerName}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerTime": {
										"value": {
											"value": "@{pipeline().TriggerTime}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@{pipeline().TriggerType}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TaskInstanceID": {
										"value": null,
										"type": "Int64"
									},
									"LogType": {
										"value": "Error",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSQL",
								"type": "LinkedServiceReference",
								"parameters": {
									"secretName": "sqlDatabaseConnectionStringConfig"
								}
							}
						},
						{
							"name": "SP - Log ADF Error - Oracle table columns",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CD - Copy Oracle table column metadata",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[DI].[usp_DataFactoryLog_Insert]",
								"storedProcedureParameters": {
									"ActivityName": {
										"value": "CD - Copy Oracle table column metadata",
										"type": "String"
									},
									"DataFactoryName": {
										"value": {
											"value": "@{pipeline().DataFactory}",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorMessage": {
										"value": {
											"value": "@{activity('CD - Copy Oracle table column metadata').error.message}",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputMessage": {
										"value": {
											"value": "@{activity('CD - Copy Oracle table column metadata').output}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@{pipeline().RunId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerID": {
										"value": {
											"value": "@{pipeline().TriggerId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@{pipeline().TriggerName}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerTime": {
										"value": {
											"value": "@{pipeline().TriggerTime}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@{pipeline().TriggerType}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TaskInstanceID": {
										"value": null,
										"type": "Int64"
									},
									"LogType": {
										"value": "Error",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSQL",
								"type": "LinkedServiceReference",
								"parameters": {
									"secretName": "sqlDatabaseConnectionStringConfig"
								}
							}
						},
						{
							"name": "SP - Log ADF Success - Oracle Constraints",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CD - Copy Oracle constraint metadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[DI].[usp_DataFactoryLog_Insert]",
								"storedProcedureParameters": {
									"ActivityName": {
										"value": "CD - Copy Oracle constraint metadata",
										"type": "String"
									},
									"DataFactoryName": {
										"value": {
											"value": "@{pipeline().DataFactory}",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorMessage": {
										"value": null,
										"type": "String"
									},
									"OutputMessage": {
										"value": {
											"value": "@{activity('CD - Copy Oracle constraint metadata').output}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@{pipeline().RunId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerID": {
										"value": {
											"value": "@{pipeline().TriggerId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@{pipeline().TriggerName}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerTime": {
										"value": {
											"value": "@{pipeline().TriggerTime}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@{pipeline().TriggerType}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TaskInstanceID": {
										"value": null,
										"type": "Int64"
									},
									"LogType": {
										"value": "Progress",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSQL",
								"type": "LinkedServiceReference",
								"parameters": {
									"secretName": "sqlDatabaseConnectionStringConfig"
								}
							}
						},
						{
							"name": "SP - Log ADF Success - Oracle table columns",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CD - Copy Oracle table column metadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[DI].[usp_DataFactoryLog_Insert]",
								"storedProcedureParameters": {
									"ActivityName": {
										"value": "CD - Copy Oracle table column metadata",
										"type": "String"
									},
									"DataFactoryName": {
										"value": {
											"value": "@{pipeline().DataFactory}",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorMessage": {
										"value": null,
										"type": "String"
									},
									"OutputMessage": {
										"value": {
											"value": "@{activity('CD - Copy Oracle table column metadata').output}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@{pipeline().RunId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerID": {
										"value": {
											"value": "@{pipeline().TriggerId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@{pipeline().TriggerName}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerTime": {
										"value": {
											"value": "@{pipeline().TriggerTime}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@{pipeline().TriggerType}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TaskInstanceID": {
										"value": null,
										"type": "Int64"
									},
									"LogType": {
										"value": "Progress",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSQL",
								"type": "LinkedServiceReference",
								"parameters": {
									"secretName": "sqlDatabaseConnectionStringConfig"
								}
							}
						},
						{
							"name": "CD - Copy Oracle table row count",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "--Get all the tables and views\n\nSELECT\n    @{item().ConnectionID} AS \"ConnectionID\",\n\ttabs.owner AS \"Schema\",\n    tabs.table_name AS \"TableName\",\n    NVL(tabs.num_rows, 0) AS \"NoOfRows\"\nFROM\n    all_tables tabs\nWHERE\n    tabs.owner NOT IN('SYS', 'SYSTEM')\n\tAND tabs.temporary = 'N'\n    \nUNION ALL\n\n--Get all the synonyms\n\nSELECT\n    @{item().ConnectionID} AS \"ConnectionID\",\n\tsyn.owner AS \"Schema\",\n    syn.synonym_name AS \"TableName\",\n    NVL(tabs.num_rows, 0) AS \"NoOfRows\"\nFROM\n    all_synonyms syn\n    INNER JOIN all_tables tabs ON syn.table_owner = tabs.owner\n        AND syn.table_name = tabs.table_name\nWHERE\n    tabs.owner NOT IN('SYS', 'SYSTEM')\n    AND tabs.temporary = 'N'",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "DELETE FROM SRC.DatabaseTableRowCount WHERE ConnectionID = @{item().ConnectionID}",
										"type": "Expression"
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Generic_Oracle",
									"type": "DatasetReference",
									"parameters": {
										"secretName": {
											"value": "@{item().secretName}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Generic_AzureSQL_Table_AzureIR",
									"type": "DatasetReference",
									"parameters": {
										"secretName": "sqlDatabaseConnectionStringConfig",
										"tableName": "DatabaseTableRowCount",
										"tableSchema": "SRC"
									}
								}
							]
						},
						{
							"name": "SP - Log ADF Error - Oracle table row count",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CD - Copy Oracle table row count",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[DI].[usp_DataFactoryLog_Insert]",
								"storedProcedureParameters": {
									"ActivityName": {
										"value": "CD - Copy Oracle table row count",
										"type": "String"
									},
									"DataFactoryName": {
										"value": {
											"value": "@{pipeline().DataFactory}",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorMessage": {
										"value": {
											"value": "@{activity('CD - Copy Oracle table row count').error.message}",
											"type": "Expression"
										},
										"type": "String"
									},
									"OutputMessage": {
										"value": {
											"value": "@{activity('CD - Copy Oracle table row count').output}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@{pipeline().RunId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerID": {
										"value": {
											"value": "@{pipeline().TriggerId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@{pipeline().TriggerName}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerTime": {
										"value": {
											"value": "@{pipeline().TriggerTime}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@{pipeline().TriggerType}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TaskInstanceID": {
										"value": null,
										"type": "Int64"
									},
									"LogType": {
										"value": "Error",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSQL",
								"type": "LinkedServiceReference",
								"parameters": {
									"secretName": "sqlDatabaseConnectionStringConfig"
								}
							}
						},
						{
							"name": "SP - Log ADF Success - Oracle table row count",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CD - Copy Oracle table row count",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[DI].[usp_DataFactoryLog_Insert]",
								"storedProcedureParameters": {
									"ActivityName": {
										"value": "CD - Copy Oracle table row count",
										"type": "String"
									},
									"DataFactoryName": {
										"value": {
											"value": "@{pipeline().DataFactory}",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorMessage": {
										"value": null,
										"type": "String"
									},
									"OutputMessage": {
										"value": {
											"value": "@{activity('CD - Copy Oracle table row count').output}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@{pipeline().RunId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerID": {
										"value": {
											"value": "@{pipeline().TriggerId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@{pipeline().TriggerName}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerTime": {
										"value": {
											"value": "@{pipeline().TriggerTime}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@{pipeline().TriggerType}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TaskInstanceID": {
										"value": null,
										"type": "Int64"
									},
									"LogType": {
										"value": "Progress",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSQL",
								"type": "LinkedServiceReference",
								"parameters": {
									"secretName": "sqlDatabaseConnectionStringConfig"
								}
							}
						}
					]
				}
			},
			{
				"name": "SP - Log ADF Error - Source Loop",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LKP - Get list of sources to iterate",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[DI].[usp_DataFactoryLog_Insert]",
					"storedProcedureParameters": {
						"ActivityName": {
							"value": "LKP - Get list of sources to iterate",
							"type": "String"
						},
						"DataFactoryName": {
							"value": {
								"value": "@{pipeline().DataFactory}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@{activity('LKP - Get list of sources to iterate').error.message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"OutputMessage": {
							"value": {
								"value": "@{activity('LKP - Get list of sources to iterate').output}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerID": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TaskInstanceID": {
							"value": null,
							"type": "Int64"
						},
						"LogType": {
							"value": "Error",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSQL",
					"type": "LinkedServiceReference",
					"parameters": {
						"secretName": "sqlDatabaseConnectionStringConfig"
					}
				}
			},
			{
				"name": "SP - Log ADF Success - Source Loop",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LKP - Get list of sources to iterate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[DI].[usp_DataFactoryLog_Insert]",
					"storedProcedureParameters": {
						"ActivityName": {
							"value": "LKP - Get list of sources to iterate",
							"type": "String"
						},
						"DataFactoryName": {
							"value": {
								"value": "@{pipeline().DataFactory}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"OutputMessage": {
							"value": {
								"value": "@{activity('LKP - Get list of sources to iterate').output}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerID": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TaskInstanceID": {
							"value": null,
							"type": "Int64"
						},
						"LogType": {
							"value": "Progress",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSQL",
					"type": "LinkedServiceReference",
					"parameters": {
						"secretName": "sqlDatabaseConnectionStringConfig"
					}
				}
			}
		],
		"folder": {
			"name": "Config"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}